* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
    background-color: whitesmoke;
    
   
}


main{
   max-width: 1000px;
   max-height: 1000px;
   height: 230px; 
   margin:30px 150px;

   
}




h1{
    text-align: center;
    color: rgb(210, 62, 126);
    padding: 32px;
}


h2{
    font-weight: bold;
    font-size: 24px;
    border: 1px solid black;
}

#title{
   
   
    max-width: 1000px;
    margin:30px 150px; 
}

#text {
    text-align: center;
    margin-bottom: 24px;
    color: black;
}



.box {
    display: flex;
    float: left;
    background-color: rgb(0, 0, 0);
    margin: 8px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.378);
    width: 30%;
    
}

.clearfix::after{
    content:'';
    display: block;
    clear: both;
}


a{
    color: rgb(32, 91, 163);
    text-decoration: none;
  
    
    
}

.container{

    float: left;
    width: 100px;
    margin-right: 18px;
 

}

.container img{
    width: 100%;
    display: block;
}


